.vob-get-links-compact {
  padding-left: 0!important;
  padding-right: 0!important;
  min-width: 50px!important;
  min-height: 36.5px!important;
}
.vob-get-links-icon {
  font-size: 20px;
  display: inherit;
}
